
<header>
    <link rel="stylesheet" href="/static/styles.css">
    <nav>
        <ul>
    <h1>
       <li><a href="/"> Ashwin Farm</a></li>
    </h1>

    <!--{{request.path}}-->
    
{% url 'home' as url %}
    <li class="{% if request.path == url %} active {% endif %}">
        <a href={{url}}>Home</a></li>

{% url 'about' as url %}
    <li class="{% if request.path == url %} active {% endif %}">
        <a href="{{url}}">About</a></li>

{% url 'form' as url %}
    <li class="{% if request.path == url %} active {% endif %}">
        <a href="{{url}}">User Form</a></li>

{% url 'calculator' as url %}
    <li class="{% if request.path == url %} active {% endif %}">
        <a href="{{url}}">Calculator</a></li>
    </br></br>


<li>
        <a href="/#services">Service</a></li>

<li>
        <a href="/#contact">Contact</a></li>
           
        </ul>
    </nav>
</header>